@font-face {
    font-family: 'Minecraft'; /* Nome da fonte para usar no site */
    src: url('fonte.ttf') format('truetype'); /* Caminho para o arquivo TTF */
    font-weight: normal; 
    font-style: normal; 
}
  
  
/* Estilos gerais para o body */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Container principal da aplicação */
#app {
    text-align: center;
    width: 100%;
}

/* Estilo para o título do jogo */
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* Estilo para os botões */
button {
    padding: 15px 30px;
    font-size: 1.5em;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Minecraft';
}

/* Estilo para os botões de fase */
#phase-buttons button {
    background-color: #007BFF;
}

#phase-buttons button:hover {
    background-color: #0056b3;
}
