body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f0f0f0;
}

#campo-delimitado {
    width: 600px;
    height: 600px; /* Alterado para ser quadrado */
    background-color: #4CAF50;
    border: 2px solid #000;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1)
}